@import './theme.scss';


.date-card {
    max-width: 140px;
    margin: 0 auto
}

.menu-card {
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}