@import './theme.scss';


.date-card {
    max-width: 140px;
    margin: 0 auto
}

.menu-card {
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}

.home-carousel {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    img {
        height: 520px;
    }
}

//media hieght of image
@media (max-width: 768px) {
    .home-carousel {
        margin-top: 40px;

        img {
            height: 300px;
        }
    }
}

.home-popup {
    .modal-content {
        background-color: transparent;
        border: none;
        box-shadow: none;
        overflow: hidden;
    }
}

.menu-dropdown {
    .dropdown-toggle {
        color: rgba(0, 0, 0, 0.65);
    }

    .dropdown-item {
        font-size: 14px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.65);

        &:hover {
            background-color: transparent;
        }
    }
}